<style>
.takeTest{
	display:none;
}
.fixedHeader{
	display: none;
}
body {
    height: 100vh;
    width: 100%;
    /*background-color: transparent!important;*/
    /*background-image: none!important;*/
}
body .bodyWhite{
	background: #fff!important;
}
.pdfjs #loadingBar{height:400px!important;}
.pdfjs{
	    height: 70vh!important;
}
pdfjs-viewer{
	    position: fixed;
    width: 100%;
    top:0px;
}
.pdfjs #viewerContainer{
	height:95vh;
}


</style>
<!-- <div class="container"> -->
	<div class="body">
	<div >
		<pdfjs-viewer src="pdf/Test Your Data Quotient Quiz TC.pdf"></pdfjs-viewer>
	</div>
	
	</div>
<!-- </div> -->